<section id="admin">

    <div class="team-control">
        <button id="btnNewTeam">New Team</button>
        <button id="btnClearTeams">Clear All Teams</button>
        <button id="btnResetScores">Reset Scores</button>
        <button id="btnClearStates">Clear Button States</button>
    </div>
    <div class="instructions">
        <ul>
            <li>Click avatar to edit team</li>
            <li>Click button state to buzz in</li>
        </ul>
    </div>
    <div class="team-list"></div>

    <dialog id="teamDialog">
        <div class="header">Team Detail</div>
        <div class="body">
            <input type="hidden" name="key" id="inputTeamKey">
            <div class="field">
                <label for="inputTeamName">Team Name</label>
                <input type="text" name="name" id="inputTeamName">
            </div>
            <div class="field">
                <label for="inputTeamAvatar">Avatar</label>
                <input type="text" name="name" id="inputTeamAvatar">
            </div>
            <div class="field">
                <label for="inputTeamScore">Score</label>
                <input type="text" name="name" id="inputTeamScore">
            </div>
            <div class="field">
                <label for="inputTeamButton">Button Code</label>
                <input type="text" name="name" id="inputTeamButton">
            </div>

        </div>
        <div class="footer">
            <button id="btnTeamDialogSave">Save</button>
            <button id="btnTeamDialogCancel">Cancel</button>
        </div>
    </dialog>

    <script src="/js/admin.js"></script>
</section>