<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeopardy</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body {{#if page}}class="{{page}}" {{/if}}>
    {{{body}}}
</body>

</html>