<section id="participants">
    <div class="branding">
        <img src="/img/logo.svg" alt="3D-P Jeopardy">
    </div>
    <div class="team-list"></div>
    <script src="/js/participants.js"></script>
</section>