<section id="test">
    <div class="buttons"></div>
    <div class="control">
        <div class="btn socket on">Socket</div>
        <div class="btn form">Form</div>
        <div class="detail">
            <ul>
                <li>Socket: - submit button presses via the web socket</li>
                <li>Form: - submit button presses via a POST request</li>
            </ul>
        </div>
    </div>
    <div class="btn clear">Clear Buttons</div>
</section>

<script src="/js/test.js"></script>