@use 'vars';

#admin {
    .team-control {
        padding: 0.5em;
        border: 1px solid #ddd;
    }

    .instructions ul {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .team-list {
        padding: 0.5em 1em;
    }
    .team {
        border: 1px solid vars.$bordercolor;
        border-radius: vars.$borderradius;
        padding: 0.5em;
        margin: 0.5em 0;
        
        
        
        display: grid;
        grid-template-areas:
        "avatar teamname btnstate"
        "avatar controls score";
        grid-template-columns: 110px auto 200px;
        align-items: center;
        
        
        .avatar {
            grid-area: avatar;
            padding-right: 1em;
            cursor: pointer;
        }
        
        .teamname {
            grid-area: teamname;
            font-weight: bold;
        }
        
        .buttonstate {
            grid-area: btnstate;
            display: grid;
            grid-template-columns: 1fr 1fr;
            
            padding: 0.5em 1em;
            background-color: vars.$buttonidle;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: vars.$borderradius;
            
            .state {
                cursor: pointer;
            }
        }

        &.buzzed .buttonstate {
            background-color: vars.$buttonbuzzed;
            color: black;
        }

        .score {
            grid-area: score;
            text-align: center;
            input {
                font-size: 1.3em;
                padding: 0.25em;
                width: 100px;
                text-align: center;
                
            }
        }

        .controls {
            grid-area: controls;
            padding: 0.5em;
            border: 1px solid vars.$bordercolor;
            text-align: center;
            button {
                margin-right: 0.5em;
            }
        }

        
    }
}

#teamDialog {
    padding: 0;
    border-radius: vars.$borderradius;
    border: 2px solid vars.$bordercolor;
    box-shadow: 5px 5px 8px vars.$bordercolor;

    .header, .footer, .body {
        padding: 0.5em 1em;
    }

    .header {
        background-color: vars.$buttonidle;
        color: white;
        font-weight: bold;
    }
    .footer {
        background-color: vars.$buttonidle;

        text-align: right;
        
    }
    
    .field {
        margin: 0.25em 0;

        label {
            display: block;
            font-weight: bold;
        }
    }
    
}