@use 'vars';

#participants {
    height: 95vh;
    width: 100vw;
    // background-color: red;

    .branding {
        width: 100vw;
        background-image: linear-gradient(aliceblue, vars.$bgcolor);
        border-bottom: 2px solid #444;
        box-shadow: 0 3px 8px black;
        text-align: center;
        img {
            margin: 1em auto;
            width: 200px;
        }
    }
    .team-list {
        margin-top: 1em;
        padding: 1em;
        // border: 1px solid vars.$bordercolor;
        // border-radius: vars.$borderradius;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .team {
            border: 1px solid vars.$bordercolor;
            border-radius: vars.$borderradius;
            margin: 0.5em;
            padding: 0.5em;
            text-align: center;

            .teamname {
                font-weight: bold;
                font-size: 1.2em;
            }
            .avatar img {
                width: 200px;
                height: 200px;
            }

            .button-indicator {
                height: 50px;
                background-color: vars.$buttonidle;
                border-radius: vars.$borderradius;
                cursor: pointer;
                
                &.buzzed {
                    background-color: vars.$buttonbuzzed;
                }
            }

            .score{
                margin-top: 0.5em;
                font-weight: bold;
                font-size: 1.2em;
            }
        }
    }
}