@use 'vars';

#test {
    button { background-color: red;}

    .buttons {
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }

    .btn {
        // margin: 1em;
        padding: 1em;
        width: 100px;
        background-color: #ddd;
        text-align: center;
        cursor: pointer;
        border-radius: vars.$borderradius;

        &.buzzed {
            background-color: vars.$buttonbuzzed;
        }
    }

    .control {
        // display: none;
        border-top: 1px solid #ddd;
        padding: 1em;

        .btn {
            display: inline-block;
            margin: 0 1em;

            &.on {
                background-color: #444;
                color: #ddd;
            }
        }
    }

    .btn.clear {
        margin-left: 1em;
    }
}