#participants {
  height: 95vh;
  width: 100vw;
}
#participants .branding {
  width: 100vw;
  background-image: linear-gradient(aliceblue, #888);
  border-bottom: 2px solid #444;
  box-shadow: 0 3px 8px black;
  text-align: center;
}
#participants .branding img {
  margin: 1em auto;
  width: 200px;
}
#participants .team-list {
  margin-top: 1em;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#participants .team-list .team {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
}
#participants .team-list .team .teamname {
  font-weight: bold;
  font-size: 1.2em;
}
#participants .team-list .team .avatar img {
  width: 200px;
  height: 200px;
}
#participants .team-list .team .button-indicator {
  height: 50px;
  background-color: #444;
  border-radius: 5px;
  cursor: pointer;
}
#participants .team-list .team .button-indicator.buzzed {
  background-color: #39e439;
}
#participants .team-list .team .score {
  margin-top: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
}

#admin .team-control {
  padding: 0.5em;
  border: 1px solid #ddd;
}
#admin .instructions ul {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#admin .team-list {
  padding: 0.5em 1em;
}
#admin .team {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em 0;
  display: grid;
  grid-template-areas: "avatar teamname btnstate" "avatar controls score";
  grid-template-columns: 110px auto 200px;
  align-items: center;
}
#admin .team .avatar {
  grid-area: avatar;
  padding-right: 1em;
  cursor: pointer;
}
#admin .team .teamname {
  grid-area: teamname;
  font-weight: bold;
}
#admin .team .buttonstate {
  grid-area: btnstate;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5em 1em;
  background-color: #444;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
}
#admin .team .buttonstate .state {
  cursor: pointer;
}
#admin .team.buzzed .buttonstate {
  background-color: #39e439;
  color: black;
}
#admin .team .score {
  grid-area: score;
  text-align: center;
}
#admin .team .score input {
  font-size: 1.3em;
  padding: 0.25em;
  width: 100px;
  text-align: center;
}
#admin .team .controls {
  grid-area: controls;
  padding: 0.5em;
  border: 1px solid black;
  text-align: center;
}
#admin .team .controls button {
  margin-right: 0.5em;
}

#teamDialog {
  padding: 0;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 5px 5px 8px black;
}
#teamDialog .header, #teamDialog .footer, #teamDialog .body {
  padding: 0.5em 1em;
}
#teamDialog .header {
  background-color: #444;
  color: white;
  font-weight: bold;
}
#teamDialog .footer {
  background-color: #444;
  text-align: right;
}
#teamDialog .field {
  margin: 0.25em 0;
}
#teamDialog .field label {
  display: block;
  font-weight: bold;
}

#test button {
  background-color: red;
}
#test .buttons {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
#test .btn {
  padding: 1em;
  width: 100px;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
#test .btn.buzzed {
  background-color: #39e439;
}
#test .control {
  border-top: 1px solid #ddd;
  padding: 1em;
}
#test .control .btn {
  display: inline-block;
  margin: 0 1em;
}
#test .control .btn.on {
  background-color: #444;
  color: #ddd;
}
#test .btn.clear {
  margin-left: 1em;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body.participants {
  background-color: aliceblue;
}
body.admin {
  background-color: white;
}
body.test {
  background-color: mistyrose;
}/*# sourceMappingURL=styles.css.map */