@use 'vars';
@use 'teams';
@use 'admin';
@use 'test';

body {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;

   &.participants { 
       background-color: aliceblue;
   }
   &.admin {
       background-color: white;
   }
   &.test {
       background-color: mistyrose;
   }
}
